/* min backgrundsfärg. gör så att den byter färg*/
html {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet)
}

/*gridsystem på index sida*/
main {
    grid-template-columns: 50% 50%;
    grid-template-rows: 80% 10% 10%;
    display: grid;
    width: 80%;
    margin: auto;

}

/* För att välja vart bilden ska sitta och hur stor*/
main img {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
}

/*färg till huvud taggen*/
h1 {
    color: #00203F;
    background-color: white;
    height: 40px;
}

/*väljer vart p taggen ska sitta i griden och väljer färg på den*/
main p {
    grid-row: 3/4;
    color: #00203F;
    background-color: white;
}

/* får ner formen lite genom margin och lägger formen i mitten med hjälp av text-align*/
form {
    text-align: center;
    margin-top: 40px;

}

footer img{
    width: 100px;
  
}

/* väljer färg till min label*/
label,
input {
    color: #00203F;
    background-color: white;
}

/* ändrar colum och row till en  rad och colum och texten centrerad*/
@media screen and (max-width: 1230px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        text-align: center;
    }

    img {
        grid-column: 1;
        grid-row: 1;
    }

    form {
        margin: 0;
    }

}

@media screen and (max-width: 350px) {
    form {
        margin-top: 20%;
    }
}

/*
#00 20 3F
#ADEFD1
*/