#headerimg{
    height: 300px;
    width: 100%
}
.maingrid{
    grid-template-columns: 50% 50% ;
    grid-template-rows: 0.5fr 0.7fr 3fr;
    display: grid;
}

h1,p{
  grid-column: 1/3; 
  margin: 0;
}
h1{
text-align: center; 
}

main > img{
grid-row: 3/4;
grid-column: 1/2;
width: 100%;
}

h2{
  grid-row:4/5;
  grid-column: 1/2;
}
form{
  grid-row:5/6;
}

@media screen and (max-width:1000px) {

  .topnav {
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
    background-color:#ADEFD1FF ;
  }
  
  .topnav a {
    color: #00203FFF;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: #ADEFD1FF;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  
}